.home-logout-btn {
  position: fixed;
  bottom: 3rem;
  right: 4rem;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 50%;
  color: rgb();
  color: #c7c7c7;
  background-color: #5d5d5d;
}

.home-logout-btn:hover {
  transform: scale(0.98);
}

.video-container {
  height: 100vh;
  width: 100vw;
  scroll-snap-type: y mandatory;
  background-color: black;
  overflow-y: scroll;
}

.upload-file-btn {
  width: 6rem;
  position: absolute;
  bottom: 8rem;
  right: 3rem;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
